.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  flex-direction: column;
}

.featureSvg {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
.article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.article h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.article p {
  font-size: 1.3rem;
  padding: 0;
  margin: 0.2rem 0;
}
.ctaDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20rem;
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
  gap: 2rem;
}
.ctaButton {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.25rem;
  padding: 1rem;
  border: none;
  background-color: var(--ifm-color-primary);
  color: var(--color-text-inverted);
  cursor: pointer;
  border-radius: 24px;
}
.ctaButton:hover {
  color: var(--color-text-inverted);
  border: solid 1px var(--color-text);
}
.articleMinor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.articleMinor h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.articleMinor p {
  font-size: 1.2rem;
  padding: 0;
  margin: 1rem 0;
  width: 50%;
  text-align: left;
}
.articleMinor a {
  cursor: pointer;
}
.highlights {
  color: var(--color-text);
  transition: color 5s;
}
.highlights.in-view {
  color: var(--ifm-color-primary);
}
.codeDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.codeRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: center;
}
.codeSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-right: 2rem;
  margin-left: 2rem;
  align-self: center;
  margin-top: -30%;
}
.codeSpan p {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.chartRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.chartDiv {
  width: 30%;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
}
@media screen and (max-width: 996px) {
  .article {
    padding: 0 0.3rem;
  }
  .article h1 {
    font-size: 2rem;
  }
  .article p {
    font-size: 1.1rem;
  }
  .codeDiv {
    width: 100%;
    padding: 1rem;
  }
  .articleMinor {
    padding: 0 0.5rem;
  }
  .articleMinor p {
    font-size: 1.1rem;
    width: 100%;
    text-align: left;
  }
  .codeRow {
    flex-direction: column;
  }
  .codeDiv {
    width: 100%;
  }
  .codeSpan {
    margin-top: 0%;
  }
  .chartRow {
    flex-direction: column;
    width: 100%;
  }
  .chartDiv {
    width: 100%;
  }
}
