/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContainer {
  width: 100%;
  background-color: var(--background-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15rem 0;
  text-align: center;
  overflow: hidden;
}

.heroButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  margin-top: 3rem;
}

.heroLinks {
  width: 180px;
  overflow: hidden;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 24px;
}

.heroLinks:hover {
  border: solid 1px var(--color-text);
  color: black;
}

.documentation {
  background-color: var(--ifm-color-primary);
  color: var(--color-text-inverted);
}
.github {
  color: black;
  background-color: white;
}

.heroTitle {
  font-size: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 2rem;
}
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .heroButtonsContainer {
    flex-direction: column;
  }
  .heroContainer {
    padding: 10rem 0;
  }
}
